---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1 class="text-2xl text-red-600">Pagina About</h1>
  <p class="bg-orange-700">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate fugiat
    facere eaque pariatur nostrum architecto qui deserunt quis, molestias
    cupiditate beatae quaerat nobis, eum sed natus id ducimus perspiciatis
    aliquam ex ullam! Quibusdam perspiciatis earum temporibus quia voluptates.
    Quod asperiores molestiae maiores aut officia maxime aliquam odio tempora
    est aspernatur quisquam, id sint voluptas aliquid, nulla nobis quas dolorum,
    architecto harum! Sapiente odio excepturi quibusdam amet fugiat voluptatibus
    quod eligendi optio. Harum voluptatem suscipit ea, ratione eos enim
    laudantium? Suscipit exercitationem impedit quam, debitis in rerum
    voluptatum dolores, nihil aliquam est obcaecati esse officiis veniam ad
    quos. Recusandae, omnis odit.
  </p>
</Layout>
