<section class="bg-zinc-800 px-8 md:p-20 rounded-xl my-4 text-center">
  <h2 class="text-5xl font-bold my-5">About</h2>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
    repellendus iste a et, harum cupiditate aperiam praesentium omnis dolorem?
    Et deserunt temporibus eos ratione. Qui totam facilis eaque error atque?
  </p>
</section>
