<footer class="bg-zinc-800 py-10 gap-4 mt-4 px-4">
  <div
    class="mx-auto container text-center flex flex-col md:flex-row justify-evenly gap-4"
  >
    <div>
      <h4 class="font-bold text-xl">Site Map</h4>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/pricing">Pricing</a>
    </div>
    <div>
      <h4 class="font-bold text-xl">About Us</h4>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
    </div>
    <div>
      <h4 class="font-bold text-xl">Social Links</h4>
      <a href="/">Facebook</a>
      <a href="/">Instagram</a>
      <a href="/">TicToc</a>
    </div>
  </div>
</footer>
