<header
  class="bg-zinc-700 flex flex-col text-center p-16 gap-3 md:flex-row md:text-left rounded-lg"
>
  <div class="izq">
    <h1 class="text-5xl font-bold pb-2">Hero</h1>
    <p class="my-2 text-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, voluptate!
    </p>
    <button class="bg-indigo-500 px-3 py-1 mt-2 hover:bg-lime-500">
      Start Now
    </button>
  </div>

  <img src="undraw.svg" alt="fomge" class="w-72" />
</header>
