---
interface Props {
  title: string;
}
const { title } = Astro.props;

import "../styles/Layout.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro - {title}</title>
  </head>
  <body>
    <main class="mx-auto container bg-slate-900 md:pt-10">
      <slot />
      <Footer />
    </main>
  </body>
</html>
